.confirmacao {
  text-align: center;
  margin-top: 100px;
}

.confirmacao a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #222;
  background-color: #e2e2e2;
  border: 1px solid #000;
  padding: 10px 15px;
  border-radius: 5px;
}
