:root {
  --pattern: #fff;
  --pattern-2: #000;

  --bg: #9DCDD4;
  --bg-2: #579ED4;
  --border: #57D4B9;
  --erro: #f00;
  --sucess: #57D48E;
}

body {
  font-family: Arial;
  background: #f7f7f7;
  text-align: center;
  padding: 50px;
}

ul {
  list-style: none;
  color: #f00;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 280px;
  justify-self: center;
  box-shadow: 0 0 10px #ccc;
}

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#submit {
  width: 80px;
  margin: auto;
  margin-top: 20px;
}