:root {
  --pattern: #fff;
  --pattern-2: #000;

  --bg: #9DCDD4;
  --bg-2: #579ED4;
  --border: #57D4B9;
  --erro: #f00;
  --sucess: #57D48E;
}

@import url('https://fonts.cdnfonts.com/css/crimson-text-2');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 16px;
  font-family: 'Crimson Text', sans-serif;
}

body {
  background-color: var(--pattern);
}

h1 {
  color: var(--border);
  background-color: var(--bg-2);
  font-size: 34px;
  width: 100%;
  border-bottom: 2px solid var(--border);
  padding-left : 4px;
  text-shadow: 2px 2px 4px var(--pattern-2);
}
h2 {
  text-align: center;
  margin-bottom: 16px;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: var(--border);
}

.esquerda {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('imgs/bg-2.png');
  background-size: cover;
  height: 100%;
  border-right: 2px solid var(--border);
}

.img-quadro {
  flex: 2;
  display: flex;
  justify-content: center;
}

.direita {
  flex: 2;
}

ul {
  list-style: none;
  color: #f00;
}

form {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 320px;
  justify-self: center;
  box-shadow: 0 0 10px #ccc;
  background-color: var(--bg-2);
  font-size: 18px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

input {
  padding: 8px;
  background-color: var(--bg);
  border-radius: 4px;
  border: 1px solid var(--border);
  outline: none;
}

#submit {
  width: 80px;
  margin: auto;
  margin-top: 20px;
}

ul {
  margin: 16px;
}